<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
			<section name="MossApp.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
			<section name="MossApp.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
	</startup>
	<modules>
		<module assemblyFile="RequestModule.dll" moduleType="MossApp.Modules.Request.RequestModule, MossApp.Modules.Request, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RequestModule" startupLoaded="True" />
	</modules>
	<userSettings>
		<MossApp.WPF.Properties.Settings>
			<setting name="OptionN" serializeAs="String">
				<value>250</value>
			</setting>
			<setting name="OptionC" serializeAs="String">
				<value />
			</setting>
			<setting name="OptionM" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="UserId" serializeAs="String">
				<value>0</value>
			</setting>
		</MossApp.WPF.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<MossApp.WPF.Properties.Settings>
			<setting name="Languages" serializeAs="Xml">
				<value>
					&lt;?xml version="1.0" encoding="utf-16"?&gt;
					&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
					&lt;string&gt;C,LanguageC,.c,.h&lt;/string&gt;
					&lt;string&gt;C++,LanguageCpp,.cpp,.h,.hpp,.cc&lt;/string&gt;
					&lt;string&gt;Java,LanguageJava,.java&lt;/string&gt;
					&lt;string&gt;Meta Language,CodeTags,.ml&lt;/string&gt;
					&lt;string&gt;Pascal,CodeTags,.pas&lt;/string&gt;
					&lt;string&gt;Ada,CodeTags,.ada&lt;/string&gt;
					&lt;string&gt;Lisp,CodeTags,.lisp&lt;/string&gt;
					&lt;string&gt;Scheme,CodeTags,.scm&lt;/string&gt;
					&lt;string&gt;Haskell,LanguageHaskell,.hs&lt;/string&gt;
					&lt;string&gt;Fortran,LanguageFortran,.f90,.f95,.f03&lt;/string&gt;
					&lt;string&gt;ASCII,CodeTags,.asc,.txt&lt;/string&gt;
					&lt;string&gt;VHDL,CodeTags,.vhdl&lt;/string&gt;
					&lt;string&gt;Perl,CodeTags,.perl,.pl&lt;/string&gt;
					&lt;string&gt;Matlab,CodeTags,.matlab&lt;/string&gt;
					&lt;string&gt;Python,LanguagePython,.py&lt;/string&gt;
					&lt;string&gt;MIPS,CodeTags,.s,.asm&lt;/string&gt;
					&lt;string&gt;Prolog,CodeTags,.pl&lt;/string&gt;
					&lt;string&gt;Spice,CodeTags,.sp&lt;/string&gt;
					&lt;string&gt;VB,CodeTags,.vb&lt;/string&gt;
					&lt;string&gt;C#,LanguageCsharp,.cs&lt;/string&gt;
					&lt;string&gt;Modula2,CodeTags,.mod&lt;/string&gt;
					&lt;string&gt;A8086,CodeTags,.asm&lt;/string&gt;
					&lt;string&gt;JavaScript,LanguageJavascript,.js&lt;/string&gt;
					&lt;string&gt;PL/SQL,CodeTags,.json&lt;/string&gt;
					&lt;/ArrayOfString&gt;
				</value>
			</setting>
			<setting name="Server" serializeAs="String">
				<value>moss.stanford.edu</value>
			</setting>
			<setting name="Port" serializeAs="String">
				<value>7690</value>
			</setting>
			<setting name="MossOption" serializeAs="String">
				<value>moss</value>
			</setting>
			<setting name="DirectoryOption" serializeAs="String">
				<value>directory</value>
			</setting>
			<setting name="SendOption" serializeAs="String">
				<value>send</value>
			</setting>
			<setting name="ExperimentalOption" serializeAs="String">
				<value>X</value>
			</setting>
			<setting name="MaxMatchesOption" serializeAs="String">
				<value>maxmatches</value>
			</setting>
			<setting name="ShowOption" serializeAs="String">
				<value>show</value>
			</setting>
			<setting name="QueryOption" serializeAs="String">
				<value>query</value>
			</setting>
			<setting name="EndOption" serializeAs="String">
				<value>end</value>
			</setting>
		</MossApp.WPF.Properties.Settings>
	</applicationSettings>
</configuration>